body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #e5e5e5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 560px;
}

.navbar-inverse {
	background-color: #e98300;
	border: 0;
}

	.navbar-inverse .navbar-brand {
		padding: 10px;
		width: 350px;
	}

		.navbar-inverse .navbar-brand span {
			color: white;
		}

	.navbar-inverse .navbar-nav > li > a {
		color: #ffffff
	}
	
	.navbar-inverse .btn-link {
		color:white;
	}

.panel {
	box-shadow: 0 5px 8px -7px #000;
}

.search-row {
	padding: 20px;
}

.item-details-title {
	color: inherit;
}

.overide-button-bootstrap:focus {
	text-decoration: none;
}
